table#chronoTable td {font-size: 60%; padding: .5em; background-color: #efffff; border: 1px solid #351408;}
table#chronoTable {width: 100%}
body.text {width: 70%;}
#chronoTable ul {margin: 0; padding: 0;}
#chronoTable li {list-style-type:none; padding-left: 1em; text-indent: -1em;}